<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: #66ffff; #cyanblue
}
h1 {
  background-color: #66ffff; #cyanblue
}
p{
  background-color: #55ff00; #green
}
button{
  background-color: #ffffff #white
}
</style>
</head>
<body>
<button onclick="window.location.href = 'http://127.0.0.1:8000/list';">civilizations</button>

<h1 ALIGN=CENTER>Welcome to the Age Of Empires II</h1>

</body>
<button onclick="window.location.href = 'http://127.0.0.1:8000';">logout</button align="Center">
</html>
